.FrontIndex {
  text-align: center;
  background-color: #1c1a1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FrontIndex__body {
  background-color: #f5333c;
  min-height: 62vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #f3eaed;
  z-index: 10;
}

.FrontIndex__body:after {
  position: absolute;
  right: 10vmin;
  width: calc(15px + 2vmin);
  height: 100vh;
  z-index: -1;
  align-self: flex-end;
  background-color: #242424;
  content: "";
}

.FrontIndex__title {
  margin: 0;
  font-size: calc(10px + 10vmin);
  font-weight: 100;
}

.FrontIndex__message {
  margin: 0;
  padding: .4em 0 0 0;
  font-size: calc(1px + 3vmin);
  font-weight: 100;
}

.FrontIndex__description {
  font-size: calc(1px + 2vmin);
}

.FrontIndex__authors {
  font-size: calc(1px + 1.5vmin);
  font-weight: normal;
  margin: 0;
  padding: 3em 0 0 0;
}

.FrontIndex__link {
  color: #b0b3d7;
}

.FrontIndex__link:hover {
  color: #ed9fa7;
}